
/* src/fonts.css */
@font-face {
  font-family: 'Neutra Text';
  src: url('./font/neutra-text-alt/neutra-text-alt-587261020eccb.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: #322625;
}

@font-face {
  font-family: 'Neutra Text';
  src: url('./font/neutra-text-alt/neutra-text-bold-5871e1605afa2.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body,select {
  margin: 0;
  font-family: 'Neutra Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Neutra Text', sans-serif;
}

/* pagination.css */

/* Container styling */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Page item styling */
.pagination li {
  margin: 0 5px;
}

/* Page link styling */
.pagination a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #007bff;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.pagination a:hover {
  background-color: #f8f9fa;
  border-color: #ccc;
}

.pagination li.active a {
  background-color: #008bff;
  color: #fff;
  border-color: #007bff;
}

.pagination a.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

/* Page item separator styling */
.pagination .dots {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #6c757d;
}

/* Base styling for the full-screen loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it sits on top of other content */
}

/* Loading spinner styling */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.2); /* Light border */
  border-top: 8px solid #3498db; /* Colored border */
  border-radius: 50%; /* Circular shape */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spin animation */
}

/* table styling */

table {
  border-collapse: collapse;
}

tbody tr {
  transition: background-color 0.3s ease; /* Smooth transition */
}

table th, table td {
  padding: 10px;
  border: 1px solid #ebebeb;
}

thead th, thead td {
  background-color: #c0e3e5;
  text-transform: uppercase; 
  font-weight: bold;  
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Change background color on hover */
tbody tr:hover {
  background-color: #ebebeb;
}

.top-comp {
  display: flex;
  flex-direction: row;
}


/* Container to help with styling */
.select-wrapper {
  display: inline-block;
  position: relative;
}

/* Hide default select arrow */
.select-wrapper select {
  appearance: none; /* Removes default dropdown arrow */
  -webkit-appearance: none; /* Removes default dropdown arrow in WebKit browsers */
  -moz-appearance: none; /* Removes default dropdown arrow in Firefox */
  border: 0px;
  padding: 10px 40px 10px 10px; /* Padding: right padding is larger to make room for the arrow */
  font-size: 16px; /* Font size */
  background-color: transparent; /* Background color */
  width: 100%; /* Adjust width as needed */
  box-sizing: border-box; /* Includes padding and border in width */
}

/* Custom arrow */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  font-size: 9px; /* Arrow size */
  color: #322625;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensures arrow doesn't interfere with click events */
}

.select-wrapper select:focus {
  border-color: #007bff; 
  outline: none; 
}

.page-size-comp {
  padding-right: 20px;
  border-right: 1px solid #ebebeb;
}

.search-comp {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  border-right: 1px solid #ebebeb;
}

.search-comp button {
  border: 0px;
  background-color: transparent; 
}

.filters-comp {
  display: flex;
  flex-direction: row;
}

.toggle-button-wrapper {
  display: inline-block;
  position: relative;
}

.toggle-button-wrapper button {
  border: 0px;
  background-color: transparent; 
  padding: 10px 40px 10px 10px; 
}

.toggle-button-wrapper::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  font-size: 9px; /* Arrow size */
  color: #322625;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensures arrow doesn't interfere with click events */
}
